/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
Not very pleasant to read */ 
* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 81%); 
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
}

main { 
    width: 1440px; 
}
.GridContainer {
    display: grid; 
    grid-template: minmax(min-content, max-content) minmax(min-content, max-content) / 1fr 1fr 1fr 1fr;
    align-items: space-around;
    gap: 1rem;
    margin: auto;
}

.Review {
    border-radius: 1rem;
    padding: 1rem; 
} 

.Review-Da {
    grid-area: 1 / 1 / span 1 / span 2;
    background-color: hsl(263, 55%, 52%);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 95% 2.5%; 
}

.Review-Jo {
    grid-area: 1 / 3 / span 1 / span 1;
   background-color:  hsl(217, 19%, 35%); 
}

.Review-Ki {
    grid-area: 1 / 4 / span 2 / span 1;
    background-color: hsl(0, 0%, 100%); 
}

.Review-Je {
    grid-area: 2 / 1 / span 1 / span 1;
    background-color: hsl(0, 0%, 100%); 
}

.Review-Pa {
    grid-area: 2 / 2 / span 1 / span 2;
    background-color:hsl(219, 29%, 14%); 
}

.Avatar {
    display: flex;
    margin: 0;
    border-radius: 2.5%;
    align-items: center;
    max-height: 5rem;
    line-height: 0;
    white-space: nowrap;
}

.Avatar__img {
    border-radius: 2rem;
    height: 3rem;
    border: 1px solid white;
    margin-right: 1rem;
}

.Review-Ki .Avatar__img, .Review-Je .Avatar__img {
    border: 1px solid black;
}

.SR--only {
clip: rect(1px 1px 1px 1px);
clip-path: inset(50%);
height: 1px;
width: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
}

.Avatar__caption--name {
 color: hsl(219, 29%, 14%);
 font-weight: 600;

}
.Avatar__caption--name--light {
    color: white;
    font-weight: 600;
}

.Avatar__caption--verified {
    color: hsl(219, 29%, 14%);
    opacity: 0.9;
}

.Avatar__caption--verified--light {
    color: white;
    opacity: 0.5;
}
.Review__H2 {
    color: hsl(219, 29%, 14%);
    font-size: 1.2rem;

}

.Review__H2--light {
    color: white;
    font-size: 1.2rem;
}

.Review__P {
    color: hsl(219, 29%, 14%);
}

.Review__P--light {
    color: white;
    opacity: 0.7;
}

@media screen and (max-width: 60rem)
   {
    .GridContainer {
        grid-template:  minmax(min-content, max-content)
                        minmax(min-content, max-content)
                        minmax(min-content, max-content)
                        minmax(min-content, max-content)
                        minmax(min-content, max-content)
                        / 1fr;
        width: 90vw;
    }
    .Review {
        min-width: 90%;
    }

    .Review-Da {
        grid-area: 1 / 1 / span 1 / span 1;
    }
    .Review-Jo {
        grid-area: 2 / 1 / span 1 / span 1;
    }
    
    .Review-Je {
        grid-area: 3 / 1 / span 1 / span 1;
    }
    .Review-Pa {
        grid-area: 4 / 1 / span 1 / span 1;
    }
    .Review-Ki {
        grid-area: 5 / 1 / span 1 / span 1;

    }
}